<app-navbar></app-navbar>
<div class="container">
  <h2 class="text-center">Contact Us</h2>
  <div class="section">
    <div
      style="margin: auto; margin-bottom: 30px; width: 100%"
      class="row shadow-lg p-3 mb-5 bg-white rounded border"
    >
      <div class="col-lg-6">
        <h4 class="text-center">Address</h4>
        <br />
        <h6 class="text-center">SmartCity,Kochi-682030</h6>
        <br />
        <h4 class="text-center">Phone</h4>
        <br />
        <h6 class="text-center">9284567890</h6>
        <br />
        <h4 class="text-center">Email</h4>
        <br />
        <h6 class="text-center">bookstore@gmail.com</h6>
      </div>
      <div class="col-lg-6">
        <div>
          <h5>Message Us</h5>
          <label for="">Name</label><br />
          <input type="text" class="form-control" /><br />
          <label for="">Email</label><br />
          <input type="text" class="form-control" /><br />
          <label for="">Message</label><br />
          <textarea
            name=""
            id=""
            cols="30"
            rows="10"
            class="form-control"
          ></textarea>
        </div>
      </div>
    </div>
  </div>
</div>
